extends layout

block content
    .card.text-center
        .card-header
            h1 Seguradora
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/participacoes') Home 
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                span.navbar-toggler-icon
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/sinistrados') Sinistrados
                    li.nav-item
                        a.nav-link(href='/seguros') Seguros
                    li.nav-item
                        a.nav-link(href='/utilizadores') Utilizadores 
        .card-body
            .container(style='text-align:center ; margin-top:60px' class="container-fluid")
                .row
                    .col
                        h1 Participação:
                    .col-6
                        form(action='/participacoes/participacao?nome='+nome,method='POST')
                            div.form-group
                                input.form-control(type="text" name="nr_processo" placeholder="Número de Processo")
                            div.form-group
                                input.form-control(type="text" name="nif" placeholder="NIF")
                            div.form-group
                                input.form-control(type="text" name="tipo_acidente" placeholder="Tipo Acidente")
                            div.form-group.date
                                input.form-control(type="date" name="data_acidente")
                            div.form-group
                                input.form-control(type="text" name="idSeguro" placeholder="ID de Seguro")
                            div.form-group
                                input.form-control(type="text" name="nome_hospital" placeholder="Nome de Hospital")
                            button.btn.btn-success(type="submit") Enviar
                    .col
        .card-footer.text-center
            p SeguradoraApp by is_grupo7