extends layout

block content
    .card.text-center
        .card-header
            h1 Seguradora
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/participacoes') Home 
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                span.navbar-toggler-icon
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/sinistrados') Sinistrados
                    li.nav-item
                        a.nav-link(href='/seguros') Seguros
                    li.nav-item
                        a.nav-link(href='/utilizadores') Utilizadores 
        .card-body
            .container(style='text-align:center ; margin-top:60px' class="container-fluid")
                .row
                    .col
                        h1 Utilizadores:
                    .col-6
                        table.table
                            thead.thead-dark
                                tr
                                th Email:
                                th Nome:
                                th Telemovel:
                                th Seguradora:
                            each p in utilizadores
                                tbody
                                    tr
                                        td=p.email
                                        td=p.nome
                                        td=p.telemovel
                                        td=p.nomeSeguradora
                    .col
        .card-footer.text-center
            p SeguradoraApp by is_grupo7